:root {
    --white: #ffffff;
    --dark-gray: #2c3e50;
    --aqua: #1abc9c;
    --gray: #3a546d;
    --black: #333333;
}

/*****************************************************************/
/**************************** General ****************************/
body {
    color: var(--white);
}

.max-width {
    max-width: 1200px;
}

header nav, #footer-inf {
    background-color: var(--dark-gray);
}

#hero, #about {
    background-color: var(--aqua);
}

#portfolio, #contact-me{
    background-color: var(--white);
    color: var(--black);
}

#footer-sup {
    background-color: var(--gray);
}

.t-aqua {
    color: var(--aqua);
}